<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.EmpMapper">

    <insert id="addEmp" parameterType="org.sang.bean.Employee">
            insert into employee (name, phone,
      school, tiptopDegree, graduationTime, gender,
      workplace, job, workAge,wedlock, currentSalary,expectedSalary,
      recommendClient, channel,communicationContent,HR,interviewTime,workTime,introduction,workExperience,projectExperience
      )
    values (
     #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{tiptopDegree,jdbcType=VARCHAR},
     #{graduationTime,jdbcType=DATE}, #{gender,jdbcType=VARCHAR}, #{workplace,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR},
     #{workAge,jdbcType=INTEGER}, #{wedlock,jdbcType=VARCHAR}, #{currentSalary,jdbcType=DECIMAL}, #{expectedSalary,jdbcType=DECIMAL},
     #{recommendClient,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{communicationContent,jdbcType=VARCHAR}, #{HR,jdbcType=VARCHAR},
     #{interviewTime,jdbcType=DATE}, #{workTime,jdbcType=DATE}, #{introduction,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR},
     #{projectExperience,jdbcType=VARCHAR}
      )
    </insert>
    <update id="updateEmp" parameterType="org.sang.bean.Employee">
        update employee
        <set>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="school != null and school != ''">
                school = #{school,jdbcType=VARCHAR},
            </if>
            <if test="tiptopDegree != null and tiptopDegree != ''">
                tiptopDegree =#{tiptopDegree,jdbcType=VARCHAR},
            </if>
            <if test="graduationTime != null">
                graduationTime= #{graduationTime,jdbcType=DATE},
            </if>
            <if test="gender != null and gender != ''">
                gender= #{gender,jdbcType=VARCHAR},
            </if>
            <if test="workplace != null and workplace != ''">
                workplace= #{workplace,jdbcType=VARCHAR},
            </if>
            <if test="job != null and job != ''">
                job= #{job,jdbcType=VARCHAR},
            </if>
            <if test="workAge != null">
                workAge= #{workAge,jdbcType=INTEGER},
            </if>
            <if test="wedlock != null and wedlock != ''">
                wedlock= #{wedlock,jdbcType=VARCHAR},
            </if>
            <if test="currentSalary != null and currentSalary != ''">
                currentSalary= #{currentSalary,jdbcType=DECIMAL},
            </if>
            <if test="expectedSalary != null and expectedSalary != ''">
                expectedSalary= #{expectedSalary,jdbcType=DECIMAL},
            </if>
            <if test="recommendClient != null and recommendClient != ''">
                recommendClient= #{recommendClient,jdbcType=VARCHAR},
            </if>
            <if test="channel != null and channel != ''">
                channel= #{channel,jdbcType=VARCHAR},
            </if>
            <if test="communicationContent != null and communicationContent != ''">
                communicationContent= #{communicationContent,jdbcType=VARCHAR},
            </if>
            <if test="hr != null and hr != ''">
                hr= #{hr,jdbcType=VARCHAR},
            </if>
            <if test="interviewTime != null">
                interviewTime= #{interviewTime,jdbcType=DATE},
            </if>
            <if test="workTime != null">
                workTime= #{workTime,jdbcType=DATE},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction= #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="workExperience != null and workExperience != ''">
                workExperience= #{workExperience,jdbcType=VARCHAR},
            </if>
            <if test="projectExperience != null and projectExperience != ''">
                projectExperience= #{projectExperience,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}

    </update>

    <select id="getEmployeeByPage" resultType="org.sang.bean.Employee">
        select * from employee as e
        where 1=1
        <if test="name!=null and name!=''">
            and e.name LIKE concat('%',#{name},'%')
        </if>
        <if test="start!=null and size!=''">
            order by e.id limit #{start},#{size}
        </if>
    </select>

    <select id="getCountByName" resultType="Long">
        SELECT count(*) FROM employee e WHERE 1=1

        <if test="name!=null and name!=''">
            and e.name LIKE concat('%',#{name},'%')
        </if>
    </select>

    <select id="getById" resultType="org.sang.bean.Employee">
        SELECT * FROM employee WHERE id = #{id}
    </select>

    <select id="getByIds"  resultType="org.sang.bean.Employee">
        SELECT * FROM employee WHERE id in
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </select>

    <delete id="deleteEmpById">
        DELETE FROM employee WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>

</mapper>