<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.RequirementsMapper">
    <insert id="addRequirement" parameterType="org.sang.bean.Requirements">
          insert into requirements (customer, department,
      jobName, jobType, jobResponsibility, jobDesc,
      degreeRequired, jobEmergency, jobPoints,quantityDemanded, workingPlace,interviewer,
      keyPoint, workOvertime,note
      )
    values (
     #{customer,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{jobType,jdbcType=VARCHAR},
     #{jobResponsibility,jdbcType=DATE}, #{jobDesc,jdbcType=VARCHAR}, #{degreeRequired,jdbcType=VARCHAR}, #{jobEmergency,jdbcType=INTEGER},
     #{jobPoints,jdbcType=INTEGER}, #{quantityDemanded,jdbcType=INTEGER}, #{workingPlace,jdbcType=DECIMAL}, #{interviewer,jdbcType=DECIMAL},
     #{keyPoint,jdbcType=INTEGER},#{workOvertime,jdbcType=INTEGER},#{note,jdbcType=INTEGER})
    </insert>
    <update id="updateRequirement" parameterType="org.sang.bean.Requirements">
        update requirements
        <set>
            <if test="customer!=null and customer!=''">
                customer=#{customer},
            </if>
            <if test="department!=null and department!=''">
                department=#{department},
            </if>
            <if test="jobName!=null and jobName!=''">
                jobName=#{jobName},
            </if>
            <if test="jobType!=null and jobType!=''">
                jobType=#{jobType},
            </if>
            <if test="jobResponsibility!=null and jobResponsibility!=''">
                jobResponsibility=#{jobResponsibility},
            </if>
            <if test="jobDesc!=null and jobDesc!=''">
                jobDesc=#{jobDesc},
            </if>
            <if test="degreeRequired!=null and degreeRequired!=''">
                degreeRequired=#{degreeRequired},
            </if>
            <if test="jobEmergency!=null and jobEmergency!=''">
                jobEmergency=#{jobEmergency},
            </if>
            <if test="jobPoints!=null and jobPoints!=''">
                jobPoints=#{jobPoints},
            </if>
            <if test="quantityDemanded!=null and quantityDemanded!=''">
                quantityDemanded=#{quantityDemanded},
            </if>
            <if test="workingPlace!=null and workingPlace!=''">
                workingPlace=#{workingPlace},
            </if>
            <if test="interviewer!=null and interviewer!=''">
                interviewer=#{interviewer},
            </if>
            <if test="keyPoint!=null and keyPoint!=''">
                keyPoint=#{keyPoint},
            </if>
            <if test="workOvertime!=null and workOvertime!=''">
                workOvertime=#{workOvertime},
            </if>
            <if test="note!=null and note!=''">
                note=#{note},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="select" resultType="org.sang.bean.Requirements">
            select * from requirements where 1=1
        <if test="customer!=null and customer!=''">
            and customer=#{customer}
        </if>
        <if test="start!=null and size!=''">
            order by requirements.id limit #{start},#{size}
        </if>
    </select>

    <select id="selectByCount" parameterType="org.sang.bean.Requirements" resultType="java.lang.Long">
        select count(1) from requirements where 1=1
        <if test="customer!=null and customer!=''">
            and customer=#{customer}
        </if>
        <if test="department!=null and department!=''">
            and department=#{department}
        </if>
        <if test="jobName!=null and jobName!=''">
            and  jobName=#{jobName}
        </if>
        <if test="jobType!=null and jobType!=''">
            and jobType=#{jobType}
        </if>
        <if test="jobResponsibility!=null and jobResponsibility!=''">
            and jobResponsibility=#{jobResponsibility}
        </if>
        <if test="jobDesc!=null and jobDesc!=''">
            and jobDesc=#{jobDesc}
        </if>
        <if test="degreeRequired!=null and degreeRequired!=''">
            and degreeRequired=#{degreeRequired}
        </if>
        <if test="jobEmergency!=null and jobEmergency!=''">
            and jobEmergency=#{jobEmergency}
        </if>
        <if test="jobPoints!=null and jobPoints!=''">
            and jobPoints=#{jobPoints}
        </if>
        <if test="quantityDemanded!=null and quantityDemanded!=''">
            and quantityDemanded=#{quantityDemanded}
        </if>
        <if test="workingPlace!=null and workingPlace!=''">
            and workingPlace=#{workingPlace}
        </if>
        <if test="interviewer!=null and interviewer!=''">
            and interviewer=#{interviewer}
        </if>
        <if test="keyPoint!=null and keyPoint!=''">
            and keyPoint=#{keyPoint}
        </if>
        <if test="workOvertime!=null and workOvertime!=''">
            and workOvertime=#{workOvertime}
        </if>
        <if test="note!=null and note!=''">
            and note=#{note}
        </if>
    </select>
</mapper>