<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.TalentPoolMapper">

    <select id="selectById" parameterType="string" resultType="org.sang.bean.TalentPool">
        select * from talentpool where id = #{id}
    </select>
    <select id="selectPage" parameterType="TalentPool" resultType="org.sang.pagebean.Interview">
        select t.*,h.username from talentpool as t,hr as h
        where 1=1
        and t.hr_id=h.id
        <if test="name!=null and name!=''">
            and t.name LIKE concat('%',#{name},'%')
        </if>
        <if test="recommendClient!=null and recommendClient!=''">
            and t.recommendClient LIKE concat('%',#{recommendClient},'%')
        </if>
        <if test="job!=null and job!=''">
            and t.job =#{job}
        </if>
        <if test="hrId!=null and hrId!=''">
            and t.hr_id =#{hrId}
        </if>
        <if test="workAge!=null and workAge!=''">
            and t.workAge =#{workAge}
        </if>
        <if test="progress!=null and progress!=''">
            and t.progress LIKE concat('%',#{progress},'%')
        </if>

        <if test="pageNo!=null and pageSize!=''">
            order by t.id limit #{pageNo},#{pageSize}
        </if>
    </select>
    <select id="selectPageCount" parameterType="TalentPool" resultType="int">
        select count(1) from talentpool as t,hr as h
        where 1=1
        and t.hr_id=h.id
        <if test="name!=null and name!=''">
            and t.name LIKE concat('%',#{name},'%')
    </if>
        <if test="hrId!=null and hrId!=''">
            and t.hr_id =#{hrId}
        </if>
        <if test="recommendClient!=null and recommendClient!=''">
            and t.recommendClient LIKE concat('%',#{recommendClient},'%')
        </if>
        <if test="job!=null and job!=''">
            and t.job =#{job}
        </if>
        <if test="workAge!=null and workAge!=''">
            and t.workAge =#{workAge}
        </if>
        <if test="progress!=null and progress!=''">
            and t.progress LIKE concat('%',#{progress},'%')
        </if>
    </select>

    <update id="update" parameterType="TalentPool">
        update talentpool
        <set>
            <if test="name!=null and name!=''">
                name =#{name},
            </if>
            <if test="recommendClient!=null and recommendClient!=''">
                recommendClient =#{recommendClient},
            </if>
            <if test="recommendTime!=null and recommendTime!=''">
                recommendTime =#{recommendTime},
            </if>
            <if test="job!=null and job!=''">
                job =#{job},
            </if>
            <if test="workAge!=null and workAge!=''">
                 workAge =#{workAge},
            </if>
            <if test="progress!=null and progress!=''">
                 progress =#{progress},
            </if>
        </set>
        where id = #{id}
    </update>


    <insert id="insert" keyProperty="id" parameterType="TalentPool" useGeneratedKeys="true">
        insert into talentpool
        (`recommendClient`,`recommendTime`,`job`,`workAge`,`progress`,`name`,`hr_id`,employeeId)
        values
        (#{recommendClient},#{recommendTime},#{job},#{workAge},#{progress},#{name},#{hrId},#{employeeId})
    </insert>

    <select id="selectByIds"  resultType="org.sang.pagebean.Interview">
        select t.*,h.username from talentpool as t,hr as h
         WHERE 1=1
         and t.hr_id=h.id
        <if test="hrId!=null and hrId!=''">
            and  t.hr_id =#{hrId}
        </if>
           and t.id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </select>


    <select id="getTalentPoolPage" resultType="org.sang.bean.TalentPool">
        select * from talentpool as t
        where 1=1
        <if test="hr_id != null and hr_id!=''">
            and t.hr_id = #{hr_id}
        </if>
        <if test="name!=null and name!=''">
            and t.name LIKE concat('%',#{name},'%')
        </if>
        <if test="start!=null and size!=''">
            order by t.id desc limit #{start},#{size}
        </if>
    </select>

    <update id="updateShowEdit" parameterType="String">
        update talentpool SET showInterview = '0' where id = #{id}
    </update>

</mapper>
