<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.TalentPoolMapper">
    <resultMap id="baseResultMap" type="TalentPool">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="technology" property="technology"/>
        <result column="work_city" property="workCity"/>
        <result column="last_company" property="lastCompany"/>
        <result column="phone" property="phone"/>
        <result column="school" property="school"/>
        <result column="graduation" property="graduation"/>
        <result column="major" property="major"/>
        <result column="education" property="education"/>
        <result column="last_salary" property="lastSalary"/>
        <result column="hope_salary" property="hopeSalary"/>
        <result column="appointment" property="appointment"/>
        <result column="communicate" property="communicate"/>
        <result column="interview_date" property="interviewDate"/>
        <result column="recommend" property="recommend"/>
        <result column="inside_result" property="insideResult"/>
        <result column="customer_result" property="customerResult"/>
        <result column="hr" property="hr"/>
        <result column="remark" property="remark"/>
        <result column="channel" property="channel"/>
        <result column="add_date" property="addDate"/>
        <result column="hr_id" property="hrId"/>
        <result column="tags" property="tags"/>
        <result column="status" property="status"/>
        <result column="hrName" property="hrName"/>
        <result column="level" property="level"/>
        <result column="profits" property="profits"/>
        <result column="entryDate" property="entryDate"/>
        <result column="entryMark" property="entryMark"/>
    </resultMap>
    <select id="selectById" parameterType="string" resultMap="baseResultMap">
        select * from talentpool where id = #{id}
    </select>
    <select id="selectPage" parameterType="TalentPool" resultMap="baseResultMap">
        select A.*,B.name as hrName from (select id,name,technology,work_city,hr_id,last_company,phone,school,graduation,major,education,last_salary,hope_salary,appointment,communicate,recommend,inside_result,customer_result,hr,remark,channel,tags,status,FROM_UNIXTIME(interview_date/1000,'%Y-%m-%d %H:%I:%S') as interview_date,FROM_UNIXTIME(add_date/1000,'%Y-%m-%d %H:%I:%S') as add_date,level,profits,entryDate,entryMark from talentpool
        <where>
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name like concat ('%',#{name},'%')
        </if>
        <if test="technology != null">
            and technology like concat ('%',#{technology},'%')
        </if>
        <if test="workCity != null">
            and work_city = #{workCity}
        </if>
        <if test="lastCompany != null">
            and last_company = #{lastCompany}
        </if>
        <if test="phone != null">
            and phone like concat ('%',#{phone},'%')
        </if>
        <if test="school != null">
            and school = #{school}
        </if>
        <if test="graduation != null">
            and graduation = #{graduation}
        </if>
        <if test="major != null">
            and major = #{major}
        </if>
        <if test="education != null">
            and education = #{education}
        </if>
        <if test="lastSalary != null">
            and last_salary = #{lastSalary}
        </if>
        <if test="hopeSalary != null">
            and hope_salary = #{hopeSalary}
        </if>
        <if test="appointment != null">
            and appointment = #{appointment}
        </if>
        <if test="communicate != null">
            and communicate = #{communicate}
        </if>
        <if test="interviewDate != null">
            and interview_date = #{interviewDate}
        </if>
        <if test="recommend != null">
            and recommend = #{recommend}
        </if>
        <if test="insideResult != null">
            and inside_result = #{insideResult}
        </if>
        <if test="customerResult != null">
            and customer_result = #{customerResult}
        </if>
        <if test="hr != null">
            and hr = #{hr}
        </if>
        <if test="remark != null">
            and remark = #{remark}
        </if>
        <if test="channel != null">
            and channel = #{channel}
        </if>
        <if test="addDate != null">
            and add_date = #{addDate}
        </if>
        <if test="hrId != null">
            and hr_id = #{hrId}
        </if>
        <if test="tags != null">
            and tags = #{tags}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        </where>
        order by add_date desc
        <if test="pageNo != null and pageSize != null">
            limit #{pageNo},#{pageSize}
        </if>
        ) A left join hr B on A.hr_id = B.id

    </select>
    <select id="selectPageCount" parameterType="TalentPool" resultType="int">
        select count(*) from talentpool
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name like concat ('%',#{name},'%')
            </if>
            <if test="technology != null">
                and technology like concat ('%',#{technology},'%')
            </if>
            <if test="workCity != null">
                and work_city = #{workCity}
            </if>
            <if test="lastCompany != null">
                and last_company = #{lastCompany}
            </if>
            <if test="phone != null">
                and phone like concat ('%',#{phone},'%')
            </if>
            <if test="school != null">
                and school = #{school}
            </if>
            <if test="graduation != null">
                and graduation = #{graduation}
            </if>
            <if test="major != null">
                and major = #{major}
            </if>
            <if test="education != null">
                and education = #{education}
            </if>
            <if test="lastSalary != null">
                and last_salary = #{lastSalary}
            </if>
            <if test="hopeSalary != null">
                and hope_salary = #{hopeSalary}
            </if>
            <if test="appointment != null">
                and appointment = #{appointment}
            </if>
            <if test="communicate != null">
                and communicate = #{communicate}
            </if>
            <if test="interviewDate != null">
                and interview_date = #{interviewDate}
            </if>
            <if test="recommend != null">
                and recommend = #{recommend}
            </if>
            <if test="insideResult != null">
                and inside_result = #{insideResult}
            </if>
            <if test="customerResult != null">
                and customer_result = #{customerResult}
            </if>
            <if test="hr != null">
                and hr = #{hr}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="channel != null">
                and channel = #{channel}
            </if>
            <if test="addDate != null">
                and add_date = #{addDate}
            </if>
            <if test="hrId != null">
                and hr_id = #{hrId}
            </if>
            <if test="tags != null">
                and tags = #{tags}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="selectPageByMap" parameterType="map" resultMap="baseResultMap">
        select * from talentpool
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="technology != null">
                and technology = #{technology}
            </if>
            <if test="workCity != null">
                and work_city = #{workCity}
            </if>
            <if test="lastCompany != null">
                and last_company = #{lastCompany}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="school != null">
                and school = #{school}
            </if>
            <if test="graduation != null">
                and graduation = #{graduation}
            </if>
            <if test="major != null">
                and major = #{major}
            </if>
            <if test="education != null">
                and education = #{education}
            </if>
            <if test="lastSalary != null">
                and last_salary = #{lastSalary}
            </if>
            <if test="hopeSalary != null">
                and hope_salary = #{hopeSalary}
            </if>
            <if test="appointment != null">
                and appointment = #{appointment}
            </if>
            <if test="communicate != null">
                and communicate = #{communicate}
            </if>
            <if test="interviewDate != null">
                and interview_date = #{interviewDate}
            </if>
            <if test="recommend != null">
                and recommend = #{recommend}
            </if>
            <if test="insideResult != null">
                and inside_result = #{insideResult}
            </if>
            <if test="customerResult != null">
                and customer_result = #{customerResult}
            </if>
            <if test="hr != null">
                and hr = #{hr}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="channel != null">
                and channel = #{channel}
            </if>
            <if test="addDate != null">
                and add_date = #{addDate}
            </if>
            <if test="hrId != null">
                and hr_id = #{hrId}
            </if>
            <if test="tags != null">
                and tags = #{tags}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        <if test="pageNo != null and pageSize != null">
            limit #{pageNo},#{pageSize}
        </if>
    </select>
    <select id="selectPageCountByMap" parameterType="map" resultType="int">
        select count(*) from talentpool
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="technology != null">
                and technology = #{technology}
            </if>
            <if test="workCity != null">
                and work_city = #{workCity}
            </if>
            <if test="lastCompany != null">
                and last_company = #{lastCompany}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="school != null">
                and school = #{school}
            </if>
            <if test="graduation != null">
                and graduation = #{graduation}
            </if>
            <if test="major != null">
                and major = #{major}
            </if>
            <if test="education != null">
                and education = #{education}
            </if>
            <if test="lastSalary != null">
                and last_salary = #{lastSalary}
            </if>
            <if test="hopeSalary != null">
                and hope_salary = #{hopeSalary}
            </if>
            <if test="appointment != null">
                and appointment = #{appointment}
            </if>
            <if test="communicate != null">
                and communicate = #{communicate}
            </if>
            <if test="interviewDate != null">
                and interview_date = #{interviewDate}
            </if>
            <if test="recommend != null">
                and recommend = #{recommend}
            </if>
            <if test="insideResult != null">
                and inside_result = #{insideResult}
            </if>
            <if test="customerResult != null">
                and customer_result = #{customerResult}
            </if>
            <if test="hr != null">
                and hr = #{hr}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="channel != null">
                and channel = #{channel}
            </if>
            <if test="addDate != null">
                and add_date = #{addDate}
            </if>
            <if test="hrId != null">
                and hr_id = #{hrId}
            </if>
            <if test="tags != null">
                and tags = #{tags}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <insert id="insert" keyProperty="id" parameterType="TalentPool" useGeneratedKeys="true">
        insert into talentpool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="technology != null">
                technology,
            </if>
            <if test="workCity != null">
                work_city,
            </if>
            <if test="lastCompany != null">
                last_company,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="graduation != null">
                graduation,
            </if>
            <if test="major != null">
                major,
            </if>
            <if test="education != null">
                education,
            </if>
            <if test="lastSalary != null">
                last_salary,
            </if>
            <if test="hopeSalary != null">
                hope_salary,
            </if>
            <if test="appointment != null">
                appointment,
            </if>
            <if test="communicate != null">
                communicate,
            </if>
            <if test="interviewDate != null">
                interview_date,
            </if>
            <if test="recommend != null">
                recommend,
            </if>
            <if test="insideResult != null">
                inside_result,
            </if>
            <if test="customerResult != null">
                customer_result,
            </if>
            <if test="hr != null">
                hr,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="channel != null">
                channel,
            </if>
            <if test="addDate != null">
                add_date,
            </if>
            <if test="hrId != null">
                hr_id,
            </if>
            <if test="tags != null">
                tags,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="operTime != null">
                operTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="technology != null">
                #{technology},
            </if>
            <if test="workCity != null">
                #{workCity},
            </if>
            <if test="lastCompany != null">
                #{lastCompany},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="school != null">
                #{school},
            </if>
            <if test="graduation != null">
                #{graduation},
            </if>
            <if test="major != null">
                #{major},
            </if>
            <if test="education != null">
                #{education},
            </if>
            <if test="lastSalary != null">
                #{lastSalary},
            </if>
            <if test="hopeSalary != null">
                #{hopeSalary},
            </if>
            <if test="appointment != null">
                #{appointment},
            </if>
            <if test="communicate != null">
                #{communicate},
            </if>
            <if test="interviewDate != null">
                #{interviewDate},
            </if>
            <if test="recommend != null">
                #{recommend},
            </if>
            <if test="insideResult != null">
                #{insideResult},
            </if>
            <if test="customerResult != null">
                #{customerResult},
            </if>
            <if test="hr != null">
                #{hr},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="channel != null">
                #{channel},
            </if>
            <if test="addDate != null">
                #{addDate},
            </if>
            <if test="hrId != null">
                #{hrId},
            </if>
            <if test="tags != null">
                #{tags},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="operTime != null">
                #{operTime},
            </if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="string">
        delete from talentpool where id = #{id}
    </delete>
    <delete id="delete" parameterType="TalentPool">
        delete from talentpool
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="technology != null">
                and technology = #{technology}
            </if>
            <if test="workCity != null">
                and work_city = #{workCity}
            </if>
            <if test="lastCompany != null">
                and last_company = #{lastCompany}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="school != null">
                and school = #{school}
            </if>
            <if test="graduation != null">
                and graduation = #{graduation}
            </if>
            <if test="major != null">
                and major = #{major}
            </if>
            <if test="education != null">
                and education = #{education}
            </if>
            <if test="lastSalary != null">
                and last_salary = #{lastSalary}
            </if>
            <if test="hopeSalary != null">
                and hope_salary = #{hopeSalary}
            </if>
            <if test="appointment != null">
                and appointment = #{appointment}
            </if>
            <if test="communicate != null">
                and communicate = #{communicate}
            </if>
            <if test="interviewDate != null">
                and interview_date = #{interviewDate}
            </if>
            <if test="recommend != null">
                and recommend = #{recommend}
            </if>
            <if test="insideResult != null">
                and inside_result = #{insideResult}
            </if>
            <if test="customerResult != null">
                and customer_result = #{customerResult}
            </if>
            <if test="hr != null">
                and hr = #{hr}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="channel != null">
                and channel = #{channel}
            </if>
            <if test="addDate != null">
                and add_date = #{addDate}
            </if>
            <if test="hrId != null">
                and hr_id = #{hrId}
            </if>
            <if test="tags != null">
                and tags = #{tags}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </delete>
    <delete id="deleteByMap" parameterType="map">
        delete from talentpool
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="technology != null">
                and technology = #{technology}
            </if>
            <if test="workCity != null">
                and work_city = #{workCity}
            </if>
            <if test="lastCompany != null">
                and last_company = #{lastCompany}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="school != null">
                and school = #{school}
            </if>
            <if test="graduation != null">
                and graduation = #{graduation}
            </if>
            <if test="major != null">
                and major = #{major}
            </if>
            <if test="education != null">
                and education = #{education}
            </if>
            <if test="lastSalary != null">
                and last_salary = #{lastSalary}
            </if>
            <if test="hopeSalary != null">
                and hope_salary = #{hopeSalary}
            </if>
            <if test="appointment != null">
                and appointment = #{appointment}
            </if>
            <if test="communicate != null">
                and communicate = #{communicate}
            </if>
            <if test="interviewDate != null">
                and interview_date = #{interviewDate}
            </if>
            <if test="recommend != null">
                and recommend = #{recommend}
            </if>
            <if test="insideResult != null">
                and inside_result = #{insideResult}
            </if>
            <if test="customerResult != null">
                and customer_result = #{customerResult}
            </if>
            <if test="hr != null">
                and hr = #{hr}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="channel != null">
                and channel = #{channel}
            </if>
            <if test="addDate != null">
                and add_date = #{addDate}
            </if>
            <if test="hrId != null">
                and hr_id = #{hrId}
            </if>
            <if test="tags != null">
                and tags = #{tags}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </delete>


    <update id="update" parameterType="TalentPool">
        update talentpool
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="technology != null">
                technology = #{technology},
            </if>
            <if test="workCity != null">
                work_city = #{workCity},
            </if>
            <if test="lastCompany != null">
                last_company = #{lastCompany},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="school != null">
                school = #{school},
            </if>
            <if test="graduation != null">
                graduation = #{graduation},
            </if>
            <if test="major != null">
                major = #{major},
            </if>
            <if test="education != null">
                education = #{education},
            </if>
            <if test="lastSalary != null">
                last_salary = #{lastSalary},
            </if>
            <if test="hopeSalary != null">
                hope_salary = #{hopeSalary},
            </if>
            <if test="appointment != null">
                appointment = #{appointment},
            </if>
            <if test="communicate != null">
                communicate = #{communicate},
            </if>
            <if test="interviewDate != null">
                interview_date = #{interviewDate},
            </if>
            <if test="recommend != null">
                recommend = #{recommend},
            </if>
            <if test="insideResult != null">
                inside_result = #{insideResult},
            </if>
            <if test="customerResult != null">
                customer_result = #{customerResult},
            </if>
            <if test="hr != null">
                hr = #{hr},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="channel != null">
                channel = #{channel},
            </if>
            <if test="addDate != null">
                add_date = #{addDate},
            </if>
            <if test="hrId != null">
                hr_id = #{hrId},
            </if>
            <if test="tags != null">
                tags = #{tags},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="operTime != null">
                operTime = #{operTime},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="profits != null">
                profits = #{profits},
            </if>
            <if test="entryDate != null">
                entryDate = #{entryDate},
            </if>
            <if test="entryMark != null">
                entryMark = #{entryMark},
            </if>
        </set>
        where id = #{id}
    </update>




    <select id="selectAll" parameterType="TalentPool" resultMap="baseResultMap">
        select A.*,B.name as hrName from (select * from talentpool
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null">
                and name like concat ('%',#{name},'%')
            </if>
            <if test="technology != null">
                and technology like concat ('%',#{technology},'%')
            </if>
            <if test="workCity != null">
                and work_city = #{workCity}
            </if>
            <if test="lastCompany != null">
                and last_company = #{lastCompany}
            </if>
            <if test="phone != null">
                and phone like concat ('%',#{phone},'%')
            </if>
            <if test="school != null">
                and school = #{school}
            </if>
            <if test="graduation != null">
                and graduation = #{graduation}
            </if>
            <if test="major != null">
                and major = #{major}
            </if>
            <if test="education != null">
                and education = #{education}
            </if>
            <if test="lastSalary != null">
                and last_salary = #{lastSalary}
            </if>
            <if test="hopeSalary != null">
                and hope_salary = #{hopeSalary}
            </if>
            <if test="appointment != null">
                and appointment = #{appointment}
            </if>
            <if test="communicate != null">
                and communicate = #{communicate}
            </if>
            <if test="interviewDate != null">
                and interview_date = #{interviewDate}
            </if>
            <if test="recommend != null">
                and recommend = #{recommend}
            </if>
            <if test="insideResult != null">
                and inside_result = #{insideResult}
            </if>
            <if test="customerResult != null">
                and customer_result = #{customerResult}
            </if>
            <if test="hr != null">
                and hr = #{hr}
            </if>
            <if test="remark != null">
                and remark = #{remark}
            </if>
            <if test="channel != null">
                and channel = #{channel}
            </if>
            <if test="addDate != null">
                and add_date = #{addDate}
            </if>
            <if test="hrId != null">
                and hr_id = #{hrId}
            </if>
            <if test="tags != null">
                and tags = #{tags}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        ) A left join hr B on A.hr_id = B.id
    </select>



    <select id="selectOffer" parameterType="map" resultMap="baseResultMap">
        select m.*,n.name as hrName from (
        SELECT
            B. NAME,
            B.technology,
            B.recommend,
            B. LEVEL,
            B.profits,
            B.entryDate,
            B.entryMark,
             B.hr_id
        FROM
        (
        SELECT
        *
        FROM
        talent_oper
        <where>
            <if test="countStartTime != null">
                and operTime &gt;= #{countStartTime}
            </if>
            <if test="countEndTime != null">
                and operTime &lt;= #{countEndTime}
            </if>
            and STATUS = 11
        </where>

        ) A
        JOIN talentpool B ON A.talentId = B.id) m join hr n on m.hr_id = n.id
    </select>



</mapper>
